### 1. Ms. Gabriel Williams is a botany professor at District College. One day, she asked her student Mickey to compute the average of all the plants with distinct heights in her greenhouse.
- Formula used: **average=(Sum of distict height)/(count of distict height)**

In [14]:
def average(array):
    set_array=set(array)
    lst_array=list(set_array)
    count=len(lst_array)
    sum=0
    for i in lst_array:
        sum=sum+i
    
    avr=sum/count
    return avr

n = int(input())
arr = list(map(int, input().split()))
result = average(arr)
print(result)

5
43 65 73 46 82
61.8

### 2. There is an array of n integers. There are also 2 disjoint sets, A and B, each containing m integers. You like all the integers in set A and dislike all the integers in set B. Your initial happiness is 0. For each i integer in the array, if i belongs to A, you add 1 to your happiness. If i belongs to B, you add -1 to your happiness. Otherwise, your happiness does not change. Output your final happiness at the end.

- Note: Since A and B are sets, they have no repeated elements. However, the array might contain duplicate elements.

In [40]:
integers=list(map(int, input().split()))
n=integers[0]
m=integers[1]
array=list(map(int, input().split( )))
A=set(map(int, input().split( )))
B=set(map(int, input().split( )))

count=0
for i in array:
    if i in A:
        count=count+1
    elif i in B:
        count=count-1
print(count)

5 2
4 5 6 2 7
3 4
2 1
0

### 3. Given 2 sets of integers, M and N, print their symmetric difference in ascending order.
- The term symmetric difference indicates those values that exist in either M or N but do not exist in both.

In [50]:
M=int(input())
set_A=set(map(int, input().split( )))
N=int(input())
set_B=set(map(int, input().split( )))
set_A.symmetric_difference(set_B)

4
5 6 7 -20
5
-29 4 5 6 7

{-29, -20, 4}

In [53]:
M=int(input())
set_A=set(map(int, input().split( )))
N=int(input())
set_B=set(map(int, input().split( )))
sym_diff=set_A.symmetric_difference(set_B)
lst=sorted(list(sym_diff))
for i in lst:
    print(i)

5
4 5 6 2 7 2
4
5 2 7 -10
-10
4
6

### 4. Rupal has a huge collection of country stamps. She decided to count the total number of distinct country stamps in her collection. She asked for your help. You pick the stamps one by one from a stack of N country stamps.
- Find the total number of distinct country stamps.

In [58]:
N=int(input())
cntry_name=list(map(str, input().split()))
cntry_name=set(cntry_name)
count=len(list(cntry_name))
print(count)

5
UK India USA Aus UK
4

In [59]:
N = int(input())
cntry = set()
for i in range(N):
    cntry.add(input())
print(len(cntry))

5
UK
India
Japan
Australia
India
4

### 5. You are given three integers x,y and  z, representing the dimensions of a cuboid along with an integer n. Print a list of all possible coordinates given by (i,j,k) on a 3D grid where the sum of i+j+k is not equal to n.
- Here, **0<=i<=x; 0<=j<=y; o<=k<=z**
- Please use list comprehensions rather than multiple loops, as a learning exercise

In [60]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
ans = [[i, j, k] for i in range(x + 1) for j in range(y + 1) for k in range(z + 1) if i + j + k != n]
print(ans)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

### 6. Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given n scores. Store them in a list and find the score of the runner-up.

In [64]:
n = int(input())
arr = map(int, input().split())
arr=list(arr)
a=max(arr)
c=arr.count(a)
for i in range(c):
    arr.remove(a)
print(max(arr))

5
4 5 2 6 6
5

### 7. You have a non-empty set S, and you have to execute N commands given in N lines.
- The commands will be pop, remove and discard.

In [66]:
n = int(input())
s = set(map(int, input().split()))
N = int(input())
for i in range(N):
    command = list(map(str, input().split()))
    if command[0] == "pop":
        s.pop()
    elif command[0] == "remove":
        try:
            s.remove(int(command[1]))
        except:
            continue
    elif command[0] == "discard":
        try:
            s.discard(int(command[1]))
        except:
            continue
print(sum(s))

10
1 2 3 4 5 6 7 8 9 10
5
remove 9
discard 8
pop
remove 6
discard 7
24

### 8. The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed to only French and some have subscribed to both newspapers.
- You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and the other set is subscribed to the French newspaper. The same student could be in both sets. Your task is to find the total number of students who have subscribed to at least one newspap

In [67]:
n=int(input())
english=set(map(int, input().split()))
m=int(input())
french=set(map(int, input().split()))
print(len(english.union(french)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

### 9. Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.
- Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

In [69]:
dictionary={}
lst=[]
for students in range(int(input())):
    name = input()
    score = float(input())
    if score in dictionary:
        dictionary[score].append(name)
    else:
        dictionary[score]=[name]
    if score not in lst:
        lst.append(score)

        
a=min(lst)
lst.remove(a)
aa=min(lst)
dictionary[aa].sort()
for i in dictionary[aa]:
    print(i)

5
siya
23.5
piya
34.6
riya
56.3
jiya
23.5
miya
34
miya

### 10. The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed only to French, and some have subscribed to both newspapers.
- You are given two sets of student roll numbers. One set has subscribed to the English newspaper, one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to both newspapers.

In [70]:
n=int(input())
english=set(map(int, input().split()))
m=int(input())
french=set(map(int, input().split()))
print(len(english.intersection(french)))

9
1 2 3 4 5 6 7 8 9
9
31 43 1 2 3 4 6 8 9
7

### 11. The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

In [74]:
n = int(input())
student_marks = {}
for i in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
tot=0
for i  in student_marks[query_name]:
    tot=tot+i
print("{0:.2f}".format(tot/3))

4
jiya 30 50 60
piya 40 50 70
riya 50 70 30
siya 60 70 30
piya
53.33

### 12. Consider a list (list = []). You can perform the following commands:
1. insert i e: Insert integer  at position .
2. print: Print the list.
3. remove e: Delete the first occurrence of integer .
4. append e: Insert integer  at the end of the list.
5. sort: Sort the list.
6. pop: Pop the last element from the list.
7. reverse: Reverse the list.
- Initialize your list and read in the value of n followed by n lines of commands where each command will be of the 7 types listed above. Iterate through each command in order and perform the corresponding operation on your list.

In [77]:
N = int(input())
lst=[]
for i in range(N):
    s=input().split()
    for i in range(1, len(s)):
        s[i]=int(s[i])
            
    if s[0]=="append":
        lst.append(s[1])
    elif s[0]=="insert":
        lst.insert(s[1],s[2])
    elif s[0]=="remove":
        lst.remove(s[1])
    elif s[0]=="pop":
        lst.pop()
    elif s[0]=="sort":
        lst.sort()
    elif s[0]=="reverse":
        lst.reverse()
    elif s[0]=="print":
        print(lst)

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

### 13. Students of District College have a subscription to English and French newspapers. Some students have subscribed to only the English newspaper, some have subscribed to only the French newspaper, and some have subscribed to both newspapers.
- You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to only English newspapers

In [78]:
n=int(input())
english=set(map(int, input().split()))
m=int(input())
french=set(map(int, input().split()))
print(len(english.difference(french)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

### 14. Students of District College have subscriptions to English and French newspapers. Some students have subscribed to English only, some have subscribed to French only, and some have subscribed to both newspapers.
- You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to either the English or the French newspaper but not both.

In [79]:
n=int(input())
english=set(map(int, input().split()))
m=int(input())
french=set(map(int, input().split()))
print(len(english.symmetric_difference(french)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

### 15. Given an integer, n, and n space-separated integers as input, create a tuple, t, of those n integers. Then compute and print the result of hast(t).
- Note: hash() is one of the functions in the __builtins__ module, so it need not be imported.

In [80]:
n = int(input())
integer_list = map(int, input().split())
integer_list=tuple(integer_list)
print(hash(integer_list))

2
1 2
-3550055125485641917

### 16. You are given two sets,  A and B.
- Your job is to find whether set A is a subset of set B.
- If set A is subset of set B, print True.
- If set A is not a subset of set B, print False.

In [84]:
for i in range(int(input())):
    a = int(input())
    set_a = set(map(int, input().split()))
    b = int(input())
    set_b = set(map(int, input().split()))
    if len(set_a - set_b) == 0:
        print("True")
    else:
        print("False")

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

### 17. You are given a set A and N number of other sets. These N number of sets have to perform some specific mutation operations on set A.
- Your task is to execute those operations and print the sum of elements from set A.

In [86]:
n=int(input())
A=set(map(int, input().split()))
N=int(input())
for i in range(N):
    command=list(map(str, input().split()))
    if command[0]=='update':
        A.update(set(map(int, input().split())))
    elif command[0]=='intersection_update':
        A.intersection_update(set(map(int, input().split())))
    elif command[0]=='difference_update':
        A.difference_update(set(map(int, input().split())))
    elif command[0]=='symmetric_difference_update':
        A.symmetric_difference_update(set(map(int, input().split())))
print(sum(A))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

### 18. You are given a set A and N other sets.
- Your job is to find whether set A is a strict superset of each of the N sets.
- Print True, if A is a strict superset of each of the N sets. Otherwise, print False.

**Note- A strict superset has at least one element that does not exist in its subset.**

In [87]:
A=set(map(int, input().split()))
n=int(input())

N1=set(map(int, input().split()))
N2=set(map(int, input().split()))    
if (A.issuperset(N1)) and (A.issuperset(N2)):
    print(True)
else:
    print(False)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False

### 19. Mr. Anant Asankhya is the manager at the INFINITE hotel. The hotel has an infinite amount of rooms.
- One fine day, a finite number of tourists come to stay at the hotel.
- The tourists consist of:
     * A Captain.
     * An unknown group of families consisting of K members per group where K ≠ 1.
- The Captain was given a separate room, and the rest were given one room per group.
- Mr. Anant has an unordered list of randomly arranged room entries. The list consists of the room numbers for all of the tourists. The room numbers will appear K times per group except for the Captain's room.
- Mr. Anant needs you to help him find the Captain's room number.
- The total number of tourists or the total number of groups of families is not known to you.
- You only know the value of K and the room number list.

In [101]:
K=int(input())
room_list=list(map(int, input().split()))
unique_rooms=dict()
for i in room_list:
    if i not in unique_rooms:
        unique_rooms[i]=1
    else:
        unique_rooms[i]+=1
        
for room_no, count in unique_rooms.items():
    if count==1:
        print(room_no)

3
1 2 3 1 2 3 1 2 3 4
4